body {
  padding:20px;
  width: 250px;
  cursor: pointer;
}

input{

  border: 2px solid #f3f3fe;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 100;

}

input:focus{
  outline: none;
}

.btn{

  background-color: #00d6b2;
  color: #fff;
  padding: 7px 15px;
  margin-top: 10px;
  border-radius: 6px;
  display: inline-block;
  font-weight: 100;
  font-size: 18px;

}

label{

  font-size: 16px;
}
